# Environment
ENV=DEV

# Secrets KV
KEYVAULT_URL=YOUR_KEYVAULT_URL

# Azure - OpenAI
AZURE_OPENAI_API_KEY=YOUR_AZURE_OPENAI_API_KEY

# LangSmith
LANGCHAIN_API_KEY=YOUR_LANGSMITH_API_KEY

# Postgre
PGHOST=YOUR_PGHOST
PGUSER=YOUR_PGUSER
PGPORT=YOUR_PGPORT
PGDATABASE=YOUR_PGDATABASE
PGPASSWORD=YOUR_PGPASSWORD